﻿@{
    ViewBag.Title = "About PlayPal";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <br />
    <p>
        Welcome to PlayPal, the board game rental service that makes it easy and affordable to play your favorite games with friends and family. <br />
        Our mission is to provide an enjoyable and stress-free experience for our customers by offering a vast collection of board games and top-notch customer service.<br />
        <br />
        At PlayPal, we understand that board games are more than just entertainment – they are a means of bringing people together, fostering social connections, and creating memorable experiences.
        That's why we strive to make our service accessible to everyone, whether you're a casual player or a hardcore enthusiast.<br />
        Our collection of board games includes a variety of genres, themes, and complexity levels, ensuring that there's something for everyone. <br />
        From classic titles like Monopoly and Scrabble to modern hits like Settlers of Catan and Ticket to Ride, we've got you covered. <br />
        Plus, we're always adding new games to our inventory to keep things fresh and exciting.<br />
        <br />
        Renting a board game from PlayPal is simple and hassle-free. Just browse our collection online, select the game you want to play, and rent away!<br />
        And if you love our services and want to get more, we offer the option to become a Premium user and rent our games at a discounted price!<br />
        <br />
        At PlayPal, we're committed to providing exceptional customer service. If you have any questions or concerns, our friendly and knowledgeable team is always ready to help. <br />
        We also welcome feedback and suggestions, as we're always looking for ways to improve our service and better serve our customers.<br />
        <br />
        Thank you for considering PlayPal for your board game rental needs. We look forward to helping you create fun and memorable experiences with your friends and family!<br />
    </p>
</main>