﻿@{
    ViewBag.Title = "Contact PlayPal";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <br />
        <b>Address:</b><br />
        Board Street 1<br />
        31000 Osijek<br />
        Croatia<br />
        <br />
        <b>Phone:</b><br />
        123.456.7890<br />
        <br />
        <strong>Support:</strong>   <a href="mailto:support@playpal.com">support@playpal.com</a><br />
    </address>
</main>